In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pylab import rcParams
from time import sleep
from datetime import datetime
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
%matplotlib inline
rcParams['figure.figsize'] = 10, 8
sns.set_style('whitegrid')

In [3]:
codigos = ['2021','1920','1819','1718']

lista_dfs = []
for cod in codigos:
  try:
    url='https://www.football-data.co.uk/mmz4281/{}/E0.csv'.format(cod)
    df=pd.read_csv(url)
    lista_dfs.append(df)
    sleep(1)
  except Exception:
    pass    

df=pd.concat(lista_dfs)
now = datetime.now()
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("Refresh Finished! Last Update: ",dt_string)

Refresh Finished! Last Update:  22/06/2021 19:26:46

In [4]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(1520, 127)

#### 1. Tratar os NaN
#### 2. Encoding dos times

In [6]:
from copy import deepcopy

df_2 = deepcopy(df)

In [7]:
match_stat_columns = ['Div','Date','Time','HomeTeam','AwayTeam','FTHG','AG','FTAG','Res','FTR','HTHG','HTAG','HTR','HG','Match Statistics','Attendance','Referee','HS','AS','HST','AST','HHW','AHW','HC','AC','HF','AF','HFKC','AFKC','HO','AO','HY','AY','HR','AR','HBP','ABP ']

bet_data_columns = ['B365H','B365D','B365A','BSH','BSD','BSA','BWH','BWD','BWA','GBH','GBD','GBA','IWH','IWD','IWA','LBH','LBD','LBA','PH','PSH','PD','PSD','PA','PSA','SOH','SOD','SOA','SBH','SBD','SBA','SJH','SJD','SJA','SYH','SYD','SYA','VCH','VCD','VCA','WHH','WHD','WHA','Bb1X2','BbMxH','BbAvH','BbMxD','BbAvD','BbMxA','BbAvA','MaxH','MaxD','MaxA','AvgH','AvgD','AvgA','BbOU','BbMx>2.5','BbAv>2.5','BbMx<2.5','BbAv<2.5','GB>2.5','GB<2.5','B365>2.5','B365<2.5','P>2.5','P<2.5','Max>2.5','Max<2.5','Avg>2.5','Avg<2.5','BbAH','BbAHh','AHh','BbMxAHH','BbAvAHH','BbMxAHA','BbAvAHA','GBAHH','GBAHA','GBAH','LBAHH','LBAHA','LBAH','B365AHH','B365AHA','B365AH','PAHH','PAHA','MaxAHH','MaxAHA','AvgAHH','AvgAHA']

In [8]:
not_in = ['LBH', 'LBD', 'LBA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA' 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD', 'AvgA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5' 'BbMx<2.5', 'BbAv<2.5', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5' 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'BbAH', 'BbAHh', 'AHh', 'BbMxAHH', 'BbAvAHH' 'BbMxAHA', 'BbAvAHA', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA' 'AvgAHH', 'AvgAHA', 'BSH', 'BSD', 'BSA', 'GBH', 'GBD', 'GBA', 'PH', 'PD', 'PA', 'SOH', 'SOD', 'SOA', 'SBH', 'SBD', 'SBA', 'SJH', 'SJD', 'SJA', 'SYH', 'SYD', 'SYA', 'BbAvA', 'MaxH', 'BbAv>2.5', 'BbMx<2.5', 'GB>2.5', 'GB<2.5', 'Max>2.5', 'Max<2.5', 'BbAvAHH', 'BbMxAHA', 'GBAHH', 'GBAHA', 'GBAH', 'LBAHH', 'LBAHA', 'LBAH', 'B365AH', 'MaxAHA', 'AvgAHH']
neo_bet = []

for column in bet_data_columns:
    if column not in not_in:
        neo_bet.append(column)

In [9]:
df_2.drop(neo_bet, axis=1, inplace=True)
df_2.drop(df_2.loc[df_2['Div']!='E0'].index, inplace=True)
df_2.drop(['Date', 'Referee', 'Div'],axis=1, inplace=True)

In [126]:
columns = df_2.columns

In [110]:
df_2

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AF,HC,AC,HY,AY,HR,AR,PSCH,PSCD,PSCA
0,E0,Fulham,Arsenal,0,3,A,0,1,A,5,...,12,2,3,2,2,0,0,5.48,3.98,1.69
1,E0,Crystal Palace,Southampton,1,0,H,1,0,H,5,...,11,7,3,2,1,0,0,3.09,3.27,2.54
2,E0,Liverpool,Leeds,4,3,H,3,2,H,22,...,6,9,0,1,0,0,0,1.28,6.34,11.38
3,E0,West Ham,Newcastle,0,2,A,0,0,D,15,...,7,8,7,2,2,0,0,2.04,3.59,3.92
4,E0,West Brom,Leicester,0,3,A,0,0,D,7,...,9,2,5,1,1,0,0,3.38,3.38,2.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,Newcastle,Chelsea,3,0,H,1,0,H,16,...,10,4,2,0,1,0,0,4.85,3.72,1.80
376,E0,Southampton,Man City,0,1,A,0,0,D,8,...,10,1,12,3,1,0,0,6.32,4.78,1.51
377,E0,Swansea,Stoke,1,2,A,1,2,A,26,...,9,6,0,1,2,0,0,2.08,3.56,3.82
378,E0,Tottenham,Leicester,5,4,H,1,2,A,14,...,13,4,4,1,2,0,0,1.38,5.50,8.15
379,E0,West Ham,Everton,3,1,H,1,0,H,15,...,13,6,6,0,1,0,0,2.35,3.40,3.28

In [98]:
df_2.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,PSCH,PSCD,PSCA
count,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000,1520.000000
mean,1.492105,1.236842,0.663158,0.561184,13.465789,11.191447,4.626974,3.943421,10.519737,10.580263,5.695395,4.665789,1.503947,1.615789,0.050000,0.066447,3.184967,4.426493,5.137711
std,1.307271,1.205303,0.842243,0.772431,5.651861,4.916236,2.625832,2.338832,3.418323,3.514496,3.056411,2.752008,1.208914,1.216959,0.223975,0.259499,2.630566,1.786473,5.115246
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.040000,2.890000,1.090000
25%,1.000000,0.000000,0.000000,0.000000,9.000000,7.000000,3.000000,2.000000,8.000000,8.000000,3.000000,3.000000,1.000000,1.000000,0.000000,0.000000,1.680000,3.420000,2.247500
50%,1.000000,1.000000,0.000000,0.000000,13.000000,11.000000,4.000000,4.000000,10.000000,10.000000,5.000000,4.000000,1.000000,1.000000,0.000000,0.000000,2.350000,3.750000,3.385000
75%,2.000000,2.000000,1.000000,1.000000,17.000000,14.000000,6.000000,5.000000,13.000000,13.000000,8.000000,6.000000,2.000000,2.000000,0.000000,0.000000,3.480000,4.660000,5.552500
max,9.000000,9.000000,5.000000,5.000000,36.000000,30.000000,15.000000,15.000000,23.000000,26.000000,18.000000,16.000000,6.000000,7.000000,2.000000,2.000000,25.830000,18.500000,41.000000

In [120]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
d = enc.fit_transform(df_2)

In [122]:
d = pd.DataFrame.sparse.from_spmatrix(d)

In [123]:
d

,0,1,2,3,4,5,6,7,8,9,...,13330,13331,13332,13333,13334,13335,13336,13337,13338,13339
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1517,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1518,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(strategy='mean')
df_2 = imp_mean.fit_transform(df_2)

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Fulham'

In [38]:
df=df.loc[:,~df.columns.str.match("Unnamed")]
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df_columns = pd.DataFrame(list(zip(df.columns,df.count())),columns=['Column Name','Count Data'])
df_columns = df_columns.sort_values('Count Data', ascending=False)
#pd.set_option('display.max_rows', df.shape[0]+1)
df_columns['Low Count'] = [1 if x > 1000 else 0 for x in df_columns['Count Data']]
df_columns = df_columns[(df_columns['Low Count'] == 0)]
df_columns = df_columns.drop(columns=['Low Count'])
trash_list = list(df_columns['Column Name'])

In [40]:
df.drop(trash_list,axis=1,inplace = True)
df.shape

(1520, 44)

In [41]:
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,E0,2020-12-09,Fulham,Arsenal,0,3,A,0,1,A,...,1.56,6.50,4.2,1.53,6.50,4.20,1.55,5.48,3.98,1.69
1,E0,2020-12-09,Crystal Palace,Southampton,1,0,H,1,0,H,...,2.40,3.20,3.2,2.35,3.20,3.20,2.40,3.09,3.27,2.54
2,E0,2020-12-09,Liverpool,Leeds,4,3,H,3,2,H,...,9.92,1.27,6.0,10.00,1.30,5.75,10.50,1.28,6.34,11.38
3,E0,2020-12-09,West Ham,Newcastle,0,2,A,0,0,D,...,3.50,2.15,3.5,3.40,2.15,3.40,3.60,2.04,3.59,3.92
4,E0,2020-09-13,West Brom,Leicester,0,3,A,0,0,D,...,2.00,3.80,3.6,1.95,4.00,3.50,1.95,3.38,3.38,2.32

In [42]:
df.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Div,1520,1,E0,1520,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,1520,463,2021-05-23 00:00:00,10,2017-01-10,2021-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HomeTeam,1520,27,Tottenham,76,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AwayTeam,1520,27,Tottenham,76,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FTHG,1520.0,NaN,NaN,NaN,NaT,NaT,1.492105,1.307271,0.0,1.0,1.0,2.0,9.0
FTAG,1520.0,NaN,NaN,NaN,NaT,NaT,1.236842,1.205303,0.0,0.0,1.0,2.0,9.0
FTR,1520,3,H,670,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HTHG,1520.0,NaN,NaN,NaN,NaT,NaT,0.663158,0.842243,0.0,0.0,0.0,1.0,5.0
HTAG,1520.0,NaN,NaN,NaN,NaT,NaT,0.561184,0.772431,0.0,0.0,0.0,1.0,5.0
HTR,1520,3,D,603,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Referee,1520,28,M Oliver,120,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HS,1520.0,NaN,NaN,NaN,NaT,NaT,13.465789,5.651861,0.0,9.0,13.0,17.0,36.0
AS,1520.0,NaN,NaN,NaN,NaT,NaT,11.191447,4.916236,0.0,7.0,11.0,14.0,30.0
HST,1520.0,NaN,NaN,NaN,NaT,NaT,4.626974,2.625832,0.0,3.0,4.0,6.0,15.0
AST,1520.0,NaN,NaN,NaN,NaT,NaT,3.943421,2.338832,0.0,2.0,4.0,5.0,15.0
HF,1520.0,NaN,NaN,NaN,NaT,NaT,10.519737,3.418323,0.0,8.0,10.0,13.0,23.0
AF,1520.0,NaN,NaN,NaN,NaT,NaT,10.580263,3.514496,1.0,8.0,10.0,13.0,26.0
HC,1520.0,NaN,NaN,NaN,NaT,NaT,5.695395,3.056411,0.0,3.0,5.0,8.0,18.0
AC,1520.0,NaN,NaN,NaN,NaT,NaT,4.665789,2.752008,0.0,3.0,4.0,6.0,16.0
HY,1520.0,NaN,NaN,NaN,NaT,NaT,1.503947,1.208914,0.0,1.0,1.0,2.0,6.0
AY,1520.0,NaN,NaN,NaN,NaT,NaT,1.615789,1.216959,0.0,1.0,1.0,2.0,7.0
HR,1520.0,NaN,NaN,NaN,NaT,NaT,0.05,0.223975,0.0,0.0,0.0,0.0,2.0
AR,1520.0,NaN,NaN,NaN,NaT,NaT,0.066447,0.259499,0.0,0.0,0.0,0.0,2.0
B365H,1520.0,NaN,NaN,NaN,NaT,NaT,3.109053,2.601597,1.06,1.65,2.29,3.3,23.0
B365D,1520.0,NaN,NaN,NaN,NaT,NaT,4.3565,1.614897,3.0,3.4,3.75,4.5,17.0
B365A,1520.0,NaN,NaN,NaN,NaT,NaT,5.018349,4.847884,1.12,2.2,3.3,5.75,41.0
BWH,1520.0,NaN,NaN,NaN,NaT,NaT,3.035164,2.404857,1.05,1.65,2.25,3.3,21.0
BWD,1520.0,NaN,NaN,NaN,NaT,NaT,4.248954,1.464826,2.9,3.4,3.7,4.5,14.0
BWA,1520.0,NaN,NaN,NaN,NaT,NaT,4.829164,4.504842,1.13,2.2,3.3,5.5,41.0
IWH,1520.0,NaN,NaN,NaN,NaT,NaT,2.972007,2.221142,1.07,1.67,2.3,3.3,20.0
IWD,1520.0,NaN,NaN,NaN,NaT,NaT,4.154178,1.32532,2.7,3.35,3.6,4.4125,12.0
IWA,1520.0,NaN,NaN,NaN,NaT,NaT,4.621211,4.117684,1.12,2.2,3.2,5.2,30.0
PSH,1520.0,NaN,NaN,NaN,NaT,NaT,3.137066,2.540265,1.07,1.67,2.33,3.41,21.51
PSD,1520.0,NaN,NaN,NaN,NaT,NaT,4.391539,1.602419,2.95,3.45,3.79,4.66,14.96
PSA,1520.0,NaN,NaN,NaN,NaT,NaT,5.13852,5.011783,1.13,2.25,3.4,5.76,42.94
WHH,1520.0,NaN,NaN,NaN,NaT,NaT,3.076316,2.50372,1.05,1.65,2.3,3.3,21.0
WHD,1520.0,NaN,NaN,NaN,NaT,NaT,4.18898,1.449515,2.9,3.3,3.6,4.4,15.0
WHA,1520.0,NaN,NaN,NaN,NaT,NaT,4.99723,4.932745,1.12,2.2,3.25,5.5,46.0
VCH,1520.0,NaN,NaN,NaN,NaT,NaT,3.164329,2.703431,1.05,1.65,2.3,3.4,23.0
VCD,1520.0,NaN,NaN,NaN,NaT,NaT,4.310303,1.584444,2.9,3.4,3.7,4.6,15.0
VCA,1520.0,NaN,NaN,NaN,NaT,NaT,5.228309,5.398177,1.14,2.25,3.3,5.75,51.0
PSCH,1520.0,NaN,NaN,NaN,NaT,NaT,3.184967,2.630566,1.04,1.68,2.35,3.48,25.83
PSCD,1520.0,NaN,NaN,NaN,NaT,NaT,4.426493,1.786473,2.89,3.42,3.75,4.66,18.5
PSCA,1520.0,NaN,NaN,NaN,NaT,NaT,5.137711,5.115246,1.09,2.2475,3.385,5.5525,41.0